{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
<h4>Classement ligue 1 Uber Eats 2021-2022</h4>
<p>Les 3 premiers se qualifient pour la Ligue des Champions.</p>
<p>Le 4e et le vainqueur de la Coupe de France 2022 se qualifient pour la Ligue Europa, le 5e pour la Ligue Europa Conférence.</p>
