
$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

.bg-light {
    border-bottom: 1px solid #ccc;
}
.text-red{
    color: red;
}
.score {
    font-size: 60px;

}
.score span{
        padding: 0 40px;
        display: inline-block;
}
.table-striped{
    margin-bottom: 100px !important;
    cursor: pointer;
}
.aa-dropdown-menu{
    background: #ccc;
    width: 100%;
    cursor: pointer;
    position: relative !important;
}
.algolia-autocomplete{
    display: block !important;
}
.form-search{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.search-btn{
    position: absolute;
    right: 0;
    top: 0;
}